.home-main{
    display: flex;
    justify-content: center;
    position: relative;
    gap: 24em;
}

.add-button{
    position: fixed;
    top: calc(50%);
    transform: translate(-50%);
    align-self: flex-start;
    width: 2em;
    height: 2em;
    margin-top: 1em;
    font-size: 1.5em;
    border: none;
    border-radius: 100vw;
    color: rgb(50, 120, 250);
    background-color: white;
    cursor: pointer;
}

.add-button::before, .add-button::after{
    content: "";
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: .3em;
    height: 24svh;
    border-radius: 100vw;
    background-color: white;
    z-index: -1;
    pointer-events: none;
}

.add-button::before{
    top: 2.5em;
}

.add-button::after{
    bottom: 2.5em;
}

.between-lists{
    display: none;
}

.todos, .completed-todos{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30em;
    margin: 20svh 0 3em 0;
    gap: 2em;
}

.no-todo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13.63em;
    text-align: center;
    font-size: 2.2em;
    font-weight: 600;
    color: white;
}

.ask-login{
    display: flex;
    align-items: center;
    min-height: 5em;
    height: calc(100svh - 2.02em);
    font-size: 3em;
    font-weight: 600;
    text-align: center;
    color: white;
}

@media screen and (max-width: 1450px) {
    .home-main{
        gap: 12em;
    }
}

@media screen and (max-width: 1280px){
    .todos, .completed-todos{
        width: 24em;
    }
}

@media screen and (max-width: 1080px){

    .home-main{
        flex-direction: column;
        align-items: center;
        gap: 0;
    }
    
    .add-button{
        position: absolute;
        top: .7em;
        left: 50%;
        font-size: 2em;
    }

    .add-button::before, .add-button::after{
        display: none;
    }

    .between-lists{
        display: initial;
        width: 70vw;
        height: .5em;
        border-radius: 100vw;
        background-color: white;
    }

    .todos{
        margin-top: 8em !important;
    }

    .todos, .completed-todos{
        left: 0;
        margin: 2em;
        padding: 0;
        font-size: 1.2em;
    }

    .no-todo{
        margin: 2em 0;
        height: fit-content;
    }

    .no-todo:first-child{
        margin-top: 4em;
    }

    .ask-login{
        padding: 0 2em;
        height: calc(100svh - 3em);
    }
}