.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 35em;
    height: 100svh;
}

.login-main{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45em;
    height: 33em;
    padding: 0 4em;
    border-radius: 2em;
    background-color: white;
}

.login-main::before{
    content: "";
    position: absolute;
    left: 23em;
    width: .2em;
    height: 80%;
    background-color: lightgray;
}

.back-link{
    display: flex;
    flex-direction: column;
    min-width: 5.1em;
    font-size: 3em;
    text-decoration: line-through;
}

@media screen and (max-width: 920px){

    .login-container{
        display: initial;
        height: auto;
        min-height: 0;
        width: auto;
    }

    .login-main{
        width: 100%;
        min-height: 100svh;
        height: 31em;
        border-radius: 0;
        margin: 0;
    }

    .login-main::before{
        left: 17em;
    }

    .back-link{
        font-size: 2.2em;
    }
}

@media screen and (max-width: 650px) {
    .login-main{
        flex-direction: column;
        justify-content: flex-start;
        min-height: 48em;
        height: 100svh;
        padding: 0;
        font-size: 1.5em;
    }

    .login-main::before{
        top: 7em;
        left: 50%;
        transform: translate(-50%);
        height: .2em;
        width: 80%;
    }

    .back-link{
        margin-top: .5em;
    }
}