.global-error-message{
    position: absolute;
    top: calc(50% + 1em);
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    font-weight: 600;
    text-align: center;
    color: white;
}